@{
    ViewData["Title"] = "Contact Us!!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    PT. Awan Integrasi Sandidata<br />
    Sudirman 7.8, DKI<br />
    <abbr title="Phone">P:</abbr>
    +62 817-0077-500
</address>

<address>
    <strong>Marketing:</strong> <a href="mailto:Support@example.com">info@vibicloud.com</a><br />
    <strong>Website:</strong> <a href="https://vibicloud.com">ViBiCloud Website</a>
</address>
